<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detail Barang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('barang')"></nav>


<div class="container">
    <br><br>
    <div class="d-flex justify-content-center" style="background-color: #FFB800">
        <h2 style="font-weight: bold; align-content: center; padding: 20px">Detail Barang</h2>
    </div>
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">Nama Barang</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.namaBarang}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Kode Barang</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.kodeBarang}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Merk Barang</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.merkBarang}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Stok Barang</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.stok}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Garansi Barang</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.jumlahGaransi}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Deskripsi</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.deskripsiBarang}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Tipe Barang</div>
                    <div class="col-sm-9"><p th:text="': ' + ${barang.tipe.namaTipe}"></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Harga Barang</div>
                    <div class="col-sm-9">
                        <p th:text="': ' + 'Rp' + ${#numbers.formatDecimal(barang.hargaBarang, 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <hr>
    </div>
    <a class="btn btn-light btn-outline-warning btn-lg" th:href="@{/barang}">Kembali</a>
    <br><br><br><br><br>
</div>


</body>
</html>