<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detail Barang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('barang')"></nav>

<div class="container">
    <div class="m-4 p-4">
        <div class="">
            <div class="justify-content-center">
                <br>
                <h2 th:inline="text" >
                    Barang dengan kode
                    <b style="color: #FFB800" th:text="' ' + ${kodeBarang} + ' '">Subtitle</b>
                    berhasil ditambahkan.
                </h2>
                <a class="btn btn-light btn-outline-warning btn-lg" th:href="@{/barang}">Kembali</a>

            </div>
        </div>
    </div>
</div>



</body>
</html>