<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Emsidi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Emsidi</h2>
                <br>
                <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                    Nama Cabang : <br>
                    <input required class="form-control" type="text" name="namaCabang"/>
                    <br><br>

                    Alamat : <br>
                    <input required class="form-control" type="text" name="alamatCabang"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input required class="form-control" type="text" name="noTeleponCabang"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" />
                    <br><br><br>

                    <b>Nama Menu</b>
                    <input type="submit" value="Tambah Row" class="btn btn-primary">
                    <hr>

                    <div th:object="${listMenu}" th:each="row : ${listMenu}">
                        <select th:value="${row.noMenu}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option th:each="menu : ${listMenu}"
                                    th:value="${menu.noMenu}"
                                    th:text="${menu.namaMenu}"
                            >
                            </option>
                        </select>
                    <input type="submit" value="Hapus" class="btn-sm btn-danger">
                    </div>

                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Cancel</a>


                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>